* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
}

/* smartphones (portrait) */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: #0F6A7D;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: #0F6A7D;
}

.reset-password-container {
  position: absolute;
  top: 28%;
  left: 38%;
  height: 45%;
  width: 28%;
  background: #F6f4f4;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.reset-password-container .reset-password-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reset-password-container .reset-password-wrapper h2 {
  font-size: 20px;
  font-weight: 600;
}

.reset-password-container .reset-password-instruction {
  position: absolute;
  top: 14%;
}

.reset-password-container .reset-password-instruction p {
  font-size: 15px;
}

.reset-password-container .reset-password-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 18%;
  left: 16.5%;
  padding-bottom: 2%;
  width: 70%;
}

.reset-password-container .reset-password-inputs ::-webkit-input-placeholder {
  color: #C4C4C4;
  padding: 10px;
}

.reset-password-container .reset-password-inputs input {
  width: 100%;
  height: 5vh;
  font-size: 15px;
  border: none;
}

.reset-password-container .reset-password-inputs input:focus {
  outline: 1px solid #2794f2;
  -webkit-box-shadow: 0 0 7px #2794f2;
          box-shadow: 0 0 7px #2794f2;
  padding-left: 10px;
}

.reset-password-container .reset-password-inputs .password-icons {
  position: absolute;
  right: 100%;
  width: 10%;
  height: 5vh;
  color: #C4C4C4;
  background: #E5E5E5;
}

.reset-password-container .reset-password-inputs .visibility-icons {
  position: absolute;
  top: 20%;
  right: 5%;
  color: #C4C4C4;
}

.reset-password-container .reset-password-inputs .visibility-icons .show-icons {
  position: relative;
  left: 50%;
}

.reset-password-container .reset-confirm-password-inputs {
  position: absolute;
  top: 120%;
  width: 100%;
}

.reset-password-container .reset-confirm-password-inputs .password-icons {
  width: 10%;
  height: 5vh;
  color: #C4C4C4;
  background: #E5E5E5;
}

.reset-password-container .reset-password-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 38%;
}

.reset-password-container .reset-password-submit .reset-password-btn {
  position: relative;
  height: 5vh;
  width: 78%;
  right: 2%;
  font-size: 15px;
  background: #0F6A7D;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.reset-password-container .reset-password-submit .reset-password-btn:hover {
  opacity: 0.9;
}
/*# sourceMappingURL=reset-password.css.map */