

.signup-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    
}
    h1 {
        color: #474747;
        font-size: 40px;
    }

.form-signup-container {
    width: 25%;
    margin: 2% 5% 5% 37.5%;
    padding: 1% 0 2% 0;
    background: #0F6A7D;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    .form-signup-title {
        display: flex;
        justify-content: space-around;

        h2 {
            color: #474747;
            font-weight: bold;

            a {
                text-decoration: none;
                color: #E5E5E5;
                font-size: 20px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .form-inputs {
        display: flex;
        flex-direction: column;
        margin: 30px auto;
        width: 75%; 

        ::-webkit-input-placeholder{
            color: #999999;
            padding-left: 10px;
        }

        input {
            width: 100%;
            height: 5vh;
            font-size: 15px;
            background: #F6f4f4;
            border: none;

            &:focus {
                outline: 1px solid #E5E5E5;
                box-shadow: 0 0 4px #E5E5E5;
                padding-left: 10px;
            }
        }

       

    }

    .signup-btn {
        position: relative;
        left: 13%;
        height: 5vh;
        width: 75%;
        font-size: 18px;
        font-weight: bold;
        background: #E5E5E5;
        color: #474747;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    
        &:hover{
            opacity: 0.9;
        }
    
    }
}