$white: #fff;
$black: #000;
$mainColor: #0F6A7D;

// GREY -------------------------------------------------------
$lightergrey: #F6f4f4;
$lightgrey: #E5E5E5;
$midgrey: #C4C4C4;
$darkgrey: #999999;
$darkergrey: #474747;

// GREEN ------------------------------------------------------
$lightgreen: #A1DB9F;
$midgreen: #3BB54A;;
$darkgreen: #2b8955;
$shinegreen: #41d43d;

// BLUE --------------------------------------------------------
$lightblue: #54C0EB;
$midblue: #2794f2;
$darkblue: #2D6597;


// YELLOW ------------------------------------------------------
$lightyellow: #FFE2B0;
$midyellow: #FDB515;
$darkyellow: #CB7317;

// RED ---------------------------------------------------------
$lightred: #ED9FA2;
$alert: #f37e73;
$midred: #EB4132;
$darkred: #BF1E26;