@import '../app.scss';

.copyright {
    position: absolute ;
    top: 93%;
    left: 40%;

    p {
        font-size: $medium;
        color: $darkgrey;
        .private-policy {
            font-size: $medium;
        }
    }
    
    
}